# Xmake cache
.xmake/
build/
vsxmake2022/
vsxmake2026/

# MacOS Cache
.DS_Store

# Visual Studio Code
.vscode

# clangd
.cache

# Temporary files
imgui.ini
render.exr

# User data
data
task.md
AGENTS.md
.agents
__pycache__
.pytest_cache/
.ruff_cache/
.venv/
projects/Yutrel/scene
projects/Yutrel/scenes
scene
*.exr
.kimix_cache
/unity_package/com.yutrel.path-tracer/Runtime/Plugins/x86_64/*.dll